@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
}

body {
    background: linear-gradient(33deg, blue, green);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.grid {
    background: rgb(50, 163, 24);
    padding: 0.5vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: 0.5vh;
}

.grid > div {
    height: min(4vh, 5vw);
    width: min(4vh, 5vw);
    background-color: rgb(224, 247, 225);
    border-radius: 0.3vh;
}

.score {
    background-color: rgb(224, 247, 225);
    border: rgb(50, 163, 24) 0.5vh solid;
    padding: 1vh;
    text-align: center;
    font-size: min(1em, 3.5vw);
    user-select: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.427);
    display: none;
    justify-content: center;
    align-items: center;
}

.btn-restart {
    width: 300px;
    height: 200px;
    background: linear-gradient(33deg, blue, green);
    border-radius: 20px;
    border: rgb(224, 247, 225) 0.5vh solid;
    font-size: 55px;
    box-shadow: 0px 2px 10px 10px black;
    cursor: pointer;
    text-shadow: 2px 2px 6px rgb(224, 247, 225);
}

.grid .O {
    background-color: green;
}

.grid .J {
    background-color: rgb(238, 226, 58);
}

.grid .L{
    background-color: rgb(211, 85, 17);
}

.grid .N{
    background-color: rgb(17, 17, 211);
}

.grid .FN{
    background-color: rgb(156, 17, 211);
}

.grid .T{
    background-color: rgb(211, 17, 169);
}
.grid .I{
    background-color: rgb(19, 214, 235);
}